# pnpm 配置
registry=https://registry.npmmirror.com
manage-package-manager-versions=false
pm-on-fail=ignore

# 启用全局缓存
cache-dir=/tmp/pnpm-cache

# 并行下载数
network-concurrency=8

# 存储路径
store-dir=/tmp/pnpm-store
